.view {
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  background-size: cover;
  background-position: 50% 50%;
}



.view.blue {
    background-color: blue
}

.view.yellow {
    background-color: #ff0
}

.view.green {
    background-color: green
}

/*first view*/
.view.first{
  flex-direction: column;
}
.view.first .arrow-container{
  font-size: 44px;
   width: 100%;
   height: 100%;
   position: absolute;
   opacity: 0;
   transition: opacity 500ms;
   display: flex;
   align-items: center;
   justify-content: center;
}
.view.first .welcome-text{
  z-index: 9;
  /*font-size: 44px;*/
  transition: opacity 500ms;
}
.view.first.isScroll .arrow-container{
  opacity: 1
}
.view.first.isScroll .welcome-text{
  opacity: 0
}
.view.first .arrow-container .arrow-image{
  margin: auto 10px;
}
.view .form-container{
  text-align: center;
  /*font-size: 44px;*/
}
.view .form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-image{
  font-size: 1rem
}
.browse-btn{
  margin: 0;
}
.dropdown-text{
		font-size: 1rem;
}


.progress { display: none; }

.wording{
  background-color: gray;
  font-size: 22px;
}

.bigbutton{
  font-size: 44px;
}

.view.popup{
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: blue;
  opacity: 0;
  z-index: -1;
  border-radius: 10px;
  transition: all 500ms;
  /*opacity: 1;
  z-index: 9;*/
}
.view.popup.active{
  z-index: 9;
  opacity: 1
}
