.view {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.view.blue {
    background-color: blue
}

.view.yellow {
    background-color: #ff0
}

.view.green {
    background-color: green
}

/*first view*/
.view.first{
  flex-direction: column;
}
.view.first .hover{
   width: 100%;
   height: 100%;
   position: absolute;
   opacity: 0;
   transition: opacity 500ms;
   display: flex;
   align-items: center;
   justify-content: center;
}

.view.first .welcome-text{
  z-index: 9;
  font-size: 44px;
  transition: opacity 500ms;
}
.view.first .welcome-text:hover{
  opacity: 0
}
.view.first .hover.isHover{
  opacity: 1
}
.view .form-container{
  text-align: center;
  font-size: 44px;
}
